body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #00598c;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#app {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

h1 {
    color: #2c3e50;
    font-size: 28px;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

.task-item {
    margin: 10px 0;
    padding: 14px;
    background-color: #ecf0f1;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s ease-in-out;
}

.task-item:hover {
    background-color: #d2d7db;
}

.checkbox-container {
    display: flex;
    align-items: center;
}

.checkbox {
    margin-right: 10px;
    appearance: none;
    width: 24px;
    height: 24px;
    border: 2px solid #27ae60;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    transition: background-color 0.3s ease-in-out;
}

.checkbox:checked::before {
    content: '\2713'; /* Unicode check mark character */
    font-size: 18px;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.checkbox:checked {
    background-color: #27ae60;
}

.checkbox:checked::before {
    content: '\2713'; /* Unicode check mark character */
    font-size: 18px;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.input-container {
    margin-top: 20px;
}

input {
    padding: 12px;
    width: 60%;
    border: 2px solid #3498db;
    border-radius: 6px 0 0 6px;
    margin-right: -2px;
}

button {
    padding: 12px 24px;
    cursor: pointer;
    border: none;
    border-radius: 6px;
    background-color: #3498db;
    color: #fff;
    font-size: 16px;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #2980b9;
}

/* Additional styling for responsiveness */
@media only screen and (max-width: 600px) {
    input, button {
        width: 100%;
        border-radius: 6px;
        margin: 8px 0;
    }
}






